/* main Body Design */
body{
    background-color: #313131;
}
/*Nav Link Designs*/
nav a{
    text-decoration: none;
    color: #BFBFBF;
}
nav a:hover{
    color:#8c8a8a;
    
}
/* Navbar Designs */
nav{
    /* margin: 15px 5px;
    background-color: #ca3e47; */
    margin: 5px 20px;
    background-color: #ca3e47;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 15px;
    color: #BFBFBF;
    font-family: 'Noto sans JP', sans-serif;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    text-decoration-line: none;

}
#nav-mid{
    flex:1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}
ul,li{
display: inline;
}

/* Search Bar Designs */
#search-bar{
    display: flex;
    justify-content: center;

}
#search-input{
    background-color:#313131;
    border: 2px solid #ca3e47;
    border-radius: 5px;
    width: 70%;
    margin-right: 0.5%;
}
#search-btn{
    background-color: #ca3e47;
    color:#BFBFBF;
    border:1px solid #BFBFBF;
    border-radius: 5px;
}

/* Main Body Design-Creating a Flex Box */
#body-main{
    display: flex;

}

/* Center body Design */
#centerBody{
    border: 2px solid brown;
    display: flex;
    width: 75%;
    justify-content: center;
    margin:5px 5px;
}

/* Right Side Body design */
#rightBody{
    border: 2px solid brown;
    display: flex;
}
